<div id="botomm">
  <a class="button" href="#/addnode/{{id}}"  id="nuwNodeBotton">Crear nodo</a>
  <div>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>{{link1}}</p>
    <p>{{link1}}</p>
    <p>{{link1}}</p>
  </div>
</div>